<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">
	<insert id="insertEvent" parameterType="com.sp.mango.csEvent.Event">
		INSERT INTO event(num, subject, content, userId, reg_date, start_date, end_date, show) 
		VALUES (event_seq.NEXTVAL, #{subject}, #{content}, #{userId}, SYSDATE, #{start_date}, #{end_date}, #{show})
	</insert>
	
	<select id="listCategory" parameterType="map" resultType="com.sp.mango.csEvent.Event">
	SELECT categoryNum, category 
		FROM eventCategory 
		ORDER BY categoryNum
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM event f 
		JOIN member m ON f.userId=m.userId 
		<where>
			<if test="categoryNum == 1 ">
			   ( TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(end_date, 'YYYYMMDD')) &lt;= 0 )
			</if>
			<if test="categoryNum == 2 ">
			   ( TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(end_date, 'YYYYMMDD')) &gt; 0 )
			</if>	
		</where> 
	</select>
	
	<select id="listEvent" parameterType="map" resultType="com.sp.mango.csEvent.Event"> 
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT f.num, f.userId, subject, 
					TO_CHAR(f.reg_date, 'YYYY-MM-DD') reg_date, content, 
					TO_CHAR(f.start_date, 'YYYY-MM-DD') start_date, 
					TO_CHAR(f.end_date, 'YYYY-MM-DD') end_date,
					show
				FROM event f 
				JOIN member m ON f.userId=m.userId 
				<where>
					<if test="categoryNum == 1 ">
					   ( TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(end_date, 'YYYYMMDD')) &lt;= 0 )
					</if>
					<if test="categoryNum == 2 ">
					   ( TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) - TO_DATE(TO_CHAR(end_date, 'YYYYMMDD')) &gt; 0 )
					</if>	
				</where>
				ORDER BY num DESC 
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	
	<select id="readEvent" parameterType="Integer" resultType="com.sp.mango.csEvent.Event">
		SELECT f.num, f.userId, subject, content, show,
			 f.reg_date, f.start_date, f.end_date 
		FROM event f
		JOIN member m ON f.userId=m.userId 
		WHERE f.num = #{num}
	</select>
	
	<update id="updateEvent" parameterType="com.sp.mango.csEvent.Event">
		UPDATE event SET subject=#{subject}, show=#{show}, content=#{content}, 
							start_date = #{start_date}, end_date = #{end_date} 
		WHERE num = #{num}
	</update>

	<delete id="deleteEvent" parameterType="map">
		DELETE FROM event WHERE num = #{num}
	</delete>

</mapper>