<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="loginMember" parameterType="String" resultType="com.sp.mango.member.Member">
		SELECT userId, userPwd, userName, userNickName, membershipNum, regDate, update_Date
		FROM member
		WHERE userId = #{userId}
	</select>
	
	<sql id="where-duplMember">
		<choose>
			<when test="chkWay=='id'">
			</when>
			<when test="chkWay=='nick'">
			</when>
		</choose>
	</sql>
	
	<select id="userDuplCheck" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM member
		WHERE ${chkWay} = #{userParam}
	</select>
	
	<select id="readMember" parameterType="map" resultType="com.sp.mango.member.Member">
		SELECT userId, userPwd, userName, userNickName, 
			TO_CHAR(regDate,'YYYY-MM-DD') regDate, TO_CHAR(update_Date,'YYYY-MM-DD') update_Date,
			userTel, userEmail, memberEnable, userImgSaveFileName, userImgOrigFileName,
			loginFail, TO_CHAR(nickUpdate_date, 'YYYY-MM-DD') nickUpdate_date, 
			TO_CHAR(birth,'YYYY-MM-DD') birth, userImgOrigFileName, userImgSaveFileName
		FROM member
		WHERE userId = #{userId}
	</select>
	
	<insert id="insertMember" parameterType="com.sp.mango.member.Member">
		INSERT INTO member (userId, userPwd, userName, userNickName,
			regDate, update_Date, userTel, userEmail, memberEnable, 
			loginFail, membershipNum, nickUpdate_date, birth,
			userImgOrigFileName, userImgSaveFileName)
		VALUES (#{userId}, #{userPwd}, #{userName}, #{userNickName},
			SYSDATE, SYSDATE, #{userTel}, #{userEmail}, 1,
			0, 1, SYSDATE, #{birth},
			#{userImgOrigFileName,jdbcType=VARCHAR},
			#{userImgSaveFileName,jdbcType=VARCHAR})
	</insert>
	
	<update id="updateMember" parameterType="com.sp.mango.member.Member">
		UPDATE member SET
			userPwd=#{userPwd},
			userTel=#{userTel},
			userImgOrigFileName=#{userImgOrigFileName,jdbcType=VARCHAR},
			userImgSaveFileName=#{userImgSaveFileName,jdbcType=VARCHAR}
		WHERE userId = #{userId}
	</update>
	
	<select id="countAddrById" parameterType="String" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM memberAddr WHERE userId = #{userId} 
	</select>
	
	<select id="readAreaByBcode" parameterType="String" resultType="Integer">
		SELECT areaNum FROM area WHERE bcodeCut = #{bcodeCut}
	</select>
	
	<select id="getAreaSeqNum" resultType="Integer">
		SELECT area_seq.NEXTVAL readedArea FROM dual
	</select>
	
	<insert id="insertArea" parameterType="com.sp.mango.member.MemberAddr">
		INSERT INTO area (areaNum, area1, area2, area3, aLat, aLon, bcodeCut, bcodeSigungu)
		VALUES (#{areaNum}, #{area1},#{area2},#{area3},#{aLat},#{aLon},
			#{bcodeCut, jdbcType=VARCHAR}, #{bcodeSigungu, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertMemberAddr" parameterType="com.sp.mango.member.MemberAddr">
		INSERT INTO memberAddr (maNum, maZip, maAddr1, maAddr2, userId, areaNum, maLat, maLon)
		VALUES (memberAddr_seq.NEXTVAL,#{maZip},#{maAddr1, jdbcType=VARCHAR},#{maAddr2, jdbcType=VARCHAR},
			#{userId},#{areaNum},#{maLat, jdbcType=DOUBLE},#{maLon, jdbcType=DOUBLE})
	</insert>
	
	<delete id="deleteMemberAddr" parameterType="Integer">
		DELETE FROM memberAddr WHERE maNum = #{maNum}
	</delete>
	
	<select id="busnDuplCheck" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM businessProfile
		WHERE ${chkWay} = #{userParam}
	</select>
	
	<insert id="insertBusiness" parameterType="com.sp.mango.member.Business">
		INSERT INTO businessProfile (userId, busNickName, busTel, busEmail, membershipNum,
			busImgSaveFileName, busImgOrigFileName, areaNum, busAddr1, busAddr2, bpLat, bpLon, busZip)
		VALUES (#{userId}, #{busNickName}, #{busTel, jdbcType=VARCHAR}, #{busEmail, jdbcType=VARCHAR},
			30, #{busImgSaveFileName,jdbcType=VARCHAR}, #{busImgOrigFileName, jdbcType=VARCHAR},#{areaNum},
			#{busAddr1,jdbcType=VARCHAR},#{busAddr2,jdbcType=VARCHAR},#{bpLat,jdbcType=DOUBLE},#{bpLon,jdbcType=DOUBLE},
			#{busZip,jdbcType=VARCHAR})	
	</insert>
	
	<insert id="insertArea2" parameterType="com.sp.mango.member.Business">
		INSERT INTO area (areaNum, area1, area2, area3, aLat, aLon, bcodeCut, bcodeSigungu)
		VALUES (#{areaNum}, #{area1},#{area2},#{area3},#{aLat},#{aLon},
			#{bcodeCut, jdbcType=VARCHAR}, #{bcodeSigungu, jdbcType=VARCHAR})
	</insert>
	
	<update id="updateBusiness" parameterType="com.sp.mango.member.Business">
		UPDATE businessProfile SET
			busTel=#{busTel, jdbcType=VARCHAR},
			busZip=#{busZip, jdbcType=VARCHAR},
			areaNum=#{areaNum},
			busAddr1=#{busAddr1, jdbcType=VARCHAR},
			busAddr2=#{busAddr2, jdbcType=VARCHAR},
			bpLat=#{bpLat, jdbcType=DOUBLE},
			bpLon=#{bpLon, jdbcType=DOUBLE},
			busImgSaveFileName=#{busImgSaveFileName, jdbcType=VARCHAR},
			busImgOrigFileName=#{busImgOrigFileName, jdbcType=VARCHAR}
		WHERE userId = #{userId}
	</update>
	
	<delete id="deleteBusiness" parameterType="String">
		DELETE FROM businessProfile WHERE userId = #{userId}
	</delete>
	
	<select id="selectLoginFail" parameterType="String" resultType="Integer">
		SELECT loginFail FROM member WHERE userId = #{userId}
	</select>
	
	<update id="updateDefaultLoginFail" parameterType="String">
		UPDATE member SET loginFail = 0 WHERE userId = #{userId}
	</update>
	
	<update id="updateLoginFail" parameterType="String">
		UPDATE member SET loginFail = loginFail + 1 WHERE userId = #{userId}
	</update>
	
	<select id="selectEnable" parameterType="String" resultType="Integer">
		SELECT memberEnable FROM member WHERE userId = #{userId}
	</select>
	
	<update id="updateDefaultEnable" parameterType="String">
		UPDATE member SET memberEnable = 1 WHERE userId = #{userId}
	</update>
	
	<update id="updateEnable" parameterType="map">
		UPDATE member SET memberEnable = #{value} WHERE userId = #{userId}
	</update>
	
	<insert id="insertMemberState" parameterType="map">
		INSERT INTO memberState (msNum, memo, regDate, userId, msCodeNum)
		VALUES (memberState_seq.NEXTVAL, #{memo}, SYSDATE, #{userId}, 400)
	</insert>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member WHERE userId = #{userId}
	</delete>
</mapper>