<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<select id="seq" resultType="Integer">
		SELECT product_seq.NEXTVAL FROM dual
	</select>
	
	<!-- 중고거래 글 작성 -->
	<insert id="insertProduct" parameterType="com.sp.mango.product.Product">
		INSERT INTO product(pNum, pSubject, pStatus, pContent, pPrice, pHitCount,
         pRegDate, pUpdate_date, pSoldDate, pIsProposable, pLat, pLon, userId,
         areaNum, pcNum)
      	VALUES(#{pNum}, #{pSubject}, #{pStatus, jdbcType=VARCHAR}, #{pContent, jdbcType=VARCHAR}, #{pPrice},
         0, SYSDATE, #{pUpdate_date, jdbcType=VARCHAR}, #{pSoldDate, jdbcType=VARCHAR},
         #{pIsProposable}, #{pLat, jdbcType=INTEGER}, #{pLon, jdbcType=INTEGER},
         #{userId}, #{areaNum}, #{pcNum})
	</insert>

	<!-- 중고거래 이미지 업로드 -->
	<insert id="insertImgFile" parameterType="com.sp.mango.product.Product">
		INSERT INTO productImg(pImgNum, pImgSaveFileName, pNum)
		VALUES(productImg_seq.NEXTVAL, #{pImgSaveFileName}, #{pNum})
	</insert>

	<!-- 이미지 리스트 검색 -->
	<select id="listImgFile" parameterType="Integer" resultType="com.sp.mango.product.Product">
		SELECT pImgNum, pImgSaveFileName, pNum
		FROM productImg
		WHERE pNum = #{pNum}
	</select>
	
	<!-- 상품 카테고리 리스트 검색 -->
	<select id="listCategory" resultType="com.sp.mango.product.Product">
		SELECT pcNum, pcName
		FROM pCategory
	</select>
 
	<!-- 회원 주소 검색 -->
	<select id="listMemberAddr" parameterType="String" resultType="com.sp.mango.product.MemberAddr">
		SELECT maNum, maZip, maAddr1, maAddr2, maLat, maLon, areaNum 
		FROM memberAddr
		WHERE userId = #{userId}
	</select>





	<!-- 관리자 : 카테고리 추가 -->
	<insert id="insertPcategory" parameterType="map">
		INSERT INTO pCategory(pcNum, pcName)
		VALUES(pCategory_seq.NEXTVAL, #{pcName})
	</insert>

</mapper>